body {
  background-color: #3b5dc9;
}

#ui {
  position: absolute;
  font-family: monospace;
  color: white;
  font-size: 2rem;
  display: flex;
}

#ui > * {
  margin-right: 40px;
}

button {
  font-family: monospace;
  background: white;
  font-size: 2rem;
  border-radius: 4px;
}
